.albums {
  margin-top: 60px;
  width: 200px;
  float: left;
}
.songs {
  margin-top: 60px;
  width: 200px;
  float: left;
}
.members{
  margin-top: 60px;
  width: 200px;
  float: left;
}
.sidebar {
  float: right;
  margin: 6px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
.pic {
  border: 2px solid red;
  padding: 4px;
  float: right;
  width: 200px;
}
